# This is an example configuration file, which provides information about configurable options of aucote.
#
# pid_file: <str> - defines pid file path
# default_config: <str> - Path to the default configuration (default is aucote_cfg_default.yaml)

pid_file: tmp/aucote.pid
default_config: aucote_cfg_default.yaml

# logging: Aucote logs a most of events in configuration files
#   (root|storage): Logger name. Storage is used only for logging queries
#       file: <str> - Log file path
#       level: (debug|info|warning|error|critical) - Logging level (default: debug)
#       max_file_size: <int> - Maximum log file's size. After reaching the limit, new file is created and old is archived.
#       max_files: <int> - Maximum amount of log files (with archived).
#       format: <str> - Log line formats. For more information see link:
#                       https://docs.python.org/3/library/logging.html#logrecord-attributes
#       propagate: <bool> - True if logs should be propagated to root

logging:
    root:
        file: logs/aucote.log
        level: debug
        max_file_size: 10485760
        max_files: 5
        format: "%(levelname)s %(asctime)s %(module)s.%(funcName)s:%(lineno)d %(message)s"
        propagate: True
    storage:
        file: logs/storage.log
        level: debug
        max_file_size: 10485760
        max_files: 10
        format: "%(levelname)s %(asctime)s %(message)s"
        propagate: False

# storage: Storage configuration
#    path: <str> - Path to the storage
#    max_nodes_query: <int> - Maximum number of nodes which should be quered for ports
#    fresh_start: <bool> - If True storage will be removed on start

storage:
    path: "tmp/storage.sqlite3"
    max_nodes_query: 200
    fresh_start: True

# fixtures:
#   exploits:
#     filename: <str> - Path to the exploits database

fixtures:
    exploits:
        filename: fixtures/exploits/exploits.csv

# kuduworker: Configuration of kudu.
#   enable: <bool> - Define if kudu should be enable or not
#   queue:
#     address: <str> - URL to the kudu worker

kuduworker:
    enable: False
    queue:
        address: ipc:///tmp/scar-pipeline.ipc

# This section contains configuration related to topdis service
# topdis:
#   api:
#     host: <str|ipaddress> - host of api
#     port: <int> - port of api

topdis:
    api:
        host: topdis
        port: 1234

# Toucan is centralized node manager. It provides configuration for Aucote
# toucan:
#   enable: <bool> - Enable or disable support for Toucan
#   min_retry_time: <int> - minimum time which aucote waits before retrying connection to Toucan after unsuccessful try
#   max_retry_time: <int> - maximum time: after failed connection to Toucan waiting time is double up to maximum
#   max_retry_count: <int> - maximum number of retries
#   api: <str(prot://host:port) - REST api address
#   overwrite: <bool> - Overwrite configuration on start

toucan:
    enable: True
    min_retry_time: 5
    max_retry_time: 300
    max_retry_count: 20
    api: http://toucan:3000
    overwrite: False